@page "/"
@using PingApp.Components.MyComponents
@using PingApp.Models
@using PingApp.Repositories

<Categories></Categories>






<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
