<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PingApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="https://cdn3.emoji.gg/emojis/46754-home-ids.png" width="32px" height="32px" alt="home_IDS"> Pinger
            </NavLink>
        </div>

        <!--  

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div> 

        -->

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/MyComponents/grouppinger">
                <img src="https://cdn3.emoji.gg/emojis/81703-activity.png" width="32px" height="32px" alt="activity"> Grupowy Pinger
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/MyComponents/dashboard">
                <img src="https://cdn3.emoji.gg/emojis/81703-activity.png" width="32px" height="32px" alt="activity"> Wszystko w 1
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/MyComponents/Categories">
                <img src="https://cdn3.emoji.gg/emojis/81703-activity.png" width="32px" height="32px" alt="activity"> Kategorie
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/MyComponents/devices">
                <img src="https://cdn3.emoji.gg/emojis/81703-activity.png" width="32px" height="32px" alt="activity"> Urządzenia
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/MyComponents/devicegroups">
                <img src="https://cdn3.emoji.gg/emojis/81703-activity.png" width="32px" height="32px" alt="activity"> Grupy urządzeń
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/MyComponents/pinghistorylist">
                <img src="https://cdn3.emoji.gg/emojis/81703-activity.png" width="32px" height="32px" alt="activity"> Historia pingowania
            </NavLink>
        </div>
    </nav>
</div>

