@page "/MyComponents/dashboard"

<div class="everything">

	<div class="historia">
		<PingHistoryList></PingHistoryList>
	</div>

	<div class="urzondzenia">
		<Devices></Devices>
	</div>

	<div class="grupy">
		<DeviceGroups></DeviceGroups>
	</div>

	<div class="kategorie">
		<Categories></Categories>
	</div>

	

</div>
