body {
    width: 100%;
    height: 100%;
}

.kategorie {
    width: 50%;
    height: 50%;
    padding: 20px;
}

.urzondzenia {
    width: 50%;
    height: 50%;
    float: right;
    padding: 20px;
}

.grupy {
    width: 50%;
    height: 50%;
    padding: 20px;
}

.historia {
    width: 50%;
    height: 50%;
    float: left;
}