@page "/MyComponents/dashboard"

<div class="urzondzenia">
	<Devices></Devices>
</div>

<div class="grupy">
	<DeviceGroups></DeviceGroups>
</div>

<div class="kategorie">
	<Categories></Categories>
</div>

<div class="historia">
	<PingHistoryList></PingHistoryList>
</div>

